html {background-color: rgba(0,0,0,0.55)}

html, a, a:visited, #searchbox {
	color: #EEE;
	border-color: #EEE;
}

a:hover {color: #F96}

header {display: none}

main {max-width: 100%}

#searchbox:focus, #regex span:hover {
	color: #FFF;
	border-color: #FFF;
}

#playlist > .playlistContent > span {color: #222}
