a, a:visited, .fa-plus, .fa-minus {
	text-decoration: none;
	color: #E63;
	transition: color 0.2s;
}

a:hover, .fa-plus:hover, .fa-minus:hover {
	color: #F96;
}

main {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding: 45px;
}

#box {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#box textarea {
	background-color: rgba(255, 255, 255, 0.85);
	position: fixed;
	top: 10%;
	left: 10%;
	resize: none;
	width: 80%;
	height: 80%
}

#box p {
	text-align: center;
}

#box span {
	background-color: #E63;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	margin: 0 10%;
	padding: 0.5em 1em;
	transition: transform 45ms ease-in;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#box span:active {
	transform: scale(0.9, 0.9);
}

.count {
	color: #36CC00;
}

main div div {
	padding-left: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.fa-closed-captioning, .fa-music, .fa-video {
	color: #AAA;
	font-size: 80%;
	margin-right: 4px;
}

.fa-check {
	color: #36CC00;
}

.fa-plus {
	margin-right: 6.0938px;
}

.fa-plus, .fa-minus {
	cursor: pointer;
	font-size: 12pt;
	transition: color 0.2s, transform 45ms ease-in;
}

.fa-plus:active, .fa-minus:active {
	transform: scale(0.9, 0.9);
}

#playlist {
	background-color: #EEE;
	box-shadow: 0 0 2px #111;
	position: fixed;
	right: 5px;
	top: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100%;
	max-width: 45%;
}

@media screen and (width: 540px)  {
	#playlist {
		max-width: unset;
		right: 5px;
		bottom: 5px;
		top: unset;
	}
	#playlist span {
		max-width: 250px;
	}
}

#playlist i, #playlist p, #playlist > span, .playlistBot span {
	margin: 0;
	padding: 0 0.5em;
	text-align: center;
}

#playlist span {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#playlist i + span {
	display: inline-flex;
	padding: 0;
	vertical-align: top;
}

.playlistTop, .playlistBot {
	background-color: #E63;
	border-color: #222;
	border-width: 1px;
	color: #FFF;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.playlistContent {
	padding: 0;
}

#playlist .playlistTop {
	padding: 5px 0;
	border-bottom-style: solid;
}

.playlistBot {
	border-top-style: solid;
}

.playlistBot span {
	cursor: pointer;
	transition: transform 45ms ease-in;
}

.playlistBot span:active {
	transform: scale(0.9, 0.9);
}

#playlist .playlistBot span.split {
	border-left: thin solid;
	border-right: thin solid;
	padding: 0;
}

.playlistTop > span:first-child {cursor: pointer}
.playlistTop > span > .fa {
	text-align: center;
	vertical-align: middle;
	width: 15pt;
}

#regex {
	color: #AAA;
	cursor: default;
	font-size: 12px;
	margin: 0 0 0 6em;
}

#regex span {
	transition: color 0.5s ease;
}

#regex span:hover {
	color: #111;
}

#searchbox {
	padding: 5px;
	border: none;
	border-bottom: solid 2px #AAA;
	background: none;
	font-size: 150%;
	margin-left: 5px;
}

#searchbox:focus {
	color: #111;
	border-color: #111;
	outline: none;
}

#searchbox::-webkit-input-placeholder {
	color: #AAA;
}
#searchbox::-moz-placeholder {
	color: #AAA;
	opacity: 1;
}
