/* Font */
@import url(lato.css); /*remove import lato from googleapi */

/* Main style */

body {
  background-color: #111;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow: hidden;
}

p  {
  margin: 0;
}

video {
  width: 100%;
  height: 100%;
}

audio {
  width: 100%;
  min-height: 150px;
  height: 100%;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Links */

.link a,.link div.le {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #111;
  text-decoration: none;
  transition: color 0.15s;
}

.link a:hover,.link div.le:hover {
  color: #F96;
  cursor: pointer;
}

/* Controls */

.displayTopRight {
  position: fixed;
  padding: 15px;
  top: 0;
  right: 76px;
  font-size: 26px;
  background-color: #FFF;
  opacity: 0;
  pointer-events: none;
}

.controlsleft {
  position: fixed;
  padding: 15px;
  bottom: 0;
  left: 0;
}

.controlsright {
  position: fixed;
  padding: 15px;
  bottom: 0;
  right: 0;
}

/* Standard button thing */

.quadbutton {
  cursor: pointer;
  color: #FFF;
  font-size: 22pt;
  padding: 3px;
  opacity: 0.2;
  transition: transform 45ms ease-in, opacity 0.5s;
  user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.15), 1px -1px 0 rgba(0,0,0,0.15), -1px 1px 0 rgba(0,0,0,0.15), 1px 1px 0 rgba(0,0,0,0.15), 0 0 8px rgba(0,0,0,0.75);
}

.quadNotMobile {
  opacity: 1;
}

.quadbutton:active {
  transform: scale(0.9, 0.9);
  opacity: 1;
}

.quadbutton:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.8;
}

.quadbutton:active.fa-flip-horizontal {
  transform: scale(-0.9, 0.9);
  opacity: 1;
}

.quadbutton:hover.fa-flip-horizontal {
  transform: scale(-1.1, 1.1);
  opacity: 0.8;
}

.fa-play {
  margin-right: 1.719px;
}

/* Menu */

#menubutton {
  text-align: center;
  text-decoration: none;
  width: 30px;
  position: fixed;
  padding: 15px;
  top: 10px;
  left: 8px;
}

#closemenubutton {
  color: black;
  text-shadow: inherit;
}

#site-menu {
  position: fixed;
  top: 16px;
  left: 10px;
  width: 590px;
  max-width: 80%;
  max-height: 80vh;
  font-size: 14pt;
  color: #111;
  background-color: #FFF;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  padding: 5px 15px 15px 10px;
  overflow: auto;
}

#site-menu .fa:not(#closemenubutton) { /* Do not apply this rule on the big close button of the menu */
  width: 1.5em;
  text-align: center;
}

#title, #source, #song, #songwriters, #subs, .accordion {
  color: #555;
}

#title {
  font-size: 20pt;
  display: inline;
}

#linkarea {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 10px;
  margin-left: 5px;
  border-left: solid 3px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.accordion > input {display: none}
.accordion > label {cursor: pointer}
.accordion > label > .fa {
  text-align: center;
  vertical-align: middle;
  width: 15pt;
}
.accordion > label > .fa-chevron-down {display: none}
.accordion > input:checked + label > .fa-chevron-right {display: none}
.accordion > input:checked ~ label > .fa-chevron-down {display: inline-block}
.accordion > form {
  display: none;
  margin-left: 14pt;
}
.accordion > input:checked ~ form {display: block}
.accordion > table {
  display: none;
  margin-left: 17pt;
}
.accordion > table#language-table td {
  padding-left: 17pt;
}
.accordion > table#language-table td:first-child {
  padding-left: unset;
}
.accordion > input:checked ~ table {display: table}

#settings-form > fieldset {
  border: none;
  margin: 3px;
  padding: 0;
}
#settings-form > fieldset:nth-of-type(2) label, #settings-form > fieldset:nth-of-type(3) label {white-space: nowrap}
#settings-form > fieldset > legend {
  float: left;
  width: 104pt;
}
#settings-form > fieldset > div > div {display: table-cell}

#show-title-delay {display: none}
#show-title-delay input {width: 5ch}
#show-title-checkbox:checked ~ #show-title-delay {display: initial}

#keybindings-table {border-collapse: collapse}
#keybindings-table th {text-align: left}
#keybindings-table td:first-of-type {padding-right: 10pt}

/* Search Button */

#searchbutton {
  text-align: center;
  text-decoration: none;
  width: 30px;
  position: fixed;
  padding: 15px;
  top: 10px;
  right: 8px;
}

/* Hiding shit */

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  } to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  } to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.is-hidden {
  visibility: hidden;
}

.is-visible {
  opacity: 1;
  animation: appear 85ms;
  -webkit-animation: appear 85ms;
}

.mouse-idle {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.mouse-idle:hover {
  visibility: visible;
}

/* Tooltip */

#tooltip {
  background-color: #FFF;
  border-radius: 5px;
  bottom: 55px;
  box-shadow: 0 0 8px rgba(0,0,0,0.75);
  color: #555;
  font-size: 14pt;
  max-width: 30%;
  padding: 8px;
  pointer-events: none;
  position: fixed;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

#title-popup {
  bottom: 20%;
  color: #FFF;
  font-size: 24pt;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 6pt black, -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: opacity 400ms linear;
  width: 100%;
}

/* Extra progressbar stuff */

.progressbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.progressbar:hover .progress {
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress {
  position: absolute;
  width: 100%;
  height: 2px;
  transition: height 0.1s ease-out, width 0.4s linear, background-color 0.5s ease-out;
}

.progress #bufferprogress {
  background: #CCC;
}

.progress #timeprogress {
  background: #E63;
}

/* Giant Play Button and Modal */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

#giant-play-button {
  font-size: 10em;
  line-height: 100vh;
  text-align: center;
}

#modal {background-color: rgba(0, 0, 0, 0.35)}

#modal iframe {
  border: none;
  display: block;
  margin-left: auto;
  width: 540px;
  max-width: 85%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
