@import url(lato.css); /*remove import lato from googleapi */

html {
	color: #191919;
	background-color: #EEE;
	font-size: 14pt;
	font-family: 'Lato', sans-serif;
	line-height: 1.5em;
}

body {
	margin: 0;
	overflow-y: scroll;
}

a, a:visited {
	text-decoration: none;
	color: #E63;
	transition: color 0.2s;
}

a:hover {
	color: #F96;
}

header {
	text-align: center;
	background-color: #F9F9F9;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	padding: 20px;
}

header * {
	margin: 4px;
}

header h1 {
	margin-top: 8px;
}

header a {
	display: inline-block;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	transition: border 0.25s ease-in-out;
	box-sizing: border-box;
	border-bottom: solid 2px rgba(0,0,0,0);
	outline: 0;
}

header a:hover, header a:active, header a:focus {
	border-bottom: solid 2px #AAAAAA;
}

main {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	max-width: 100%;
	padding: 20px;
}

main p {
	margin: 8px 0;
}

code {
	background-color: #242424;
	border-radius: 3px;
	color: #FFF;
	font-size: 70%;
	line-height: 1.2em;
	margin: 1em 0;
	padding: 3px 6px;
	vertical-align: 0.25em;
	white-space: nowrap;
}

.block {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
}

pre {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	padding-left: 10px;
}

ul li:before {
	content: "- ";
}
